bin/
project/target
target/
.cache
.idea
.classpath
.project
.settings
.idea_modules
application.conf
src/main/resources/templates/examples.html
.ensime
.ensime_cache
ensime-langserver.log
pc.stdout.log
