@(user_firstName: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @user_firstName,</p>

  <p>We’re writing to let you know that your account has been downgraded.</p>

  <p>You are now on the Growth plan.</p>

  <p>As part of the Growth Plan, you’ll be able to continue using the following features</p>
  <ul>
    <li><a href="https://tokbox.com/pdf/datasheet-security_and_compliance-for_web-0318.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
      Encrypted Archiving: </font></a></li>
    <li><a href="https://www.tokbox.com/pdf/datasheet-security_and_compliance-for_web-0318.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
      Regional Media Zones: </font></a></li>
    <li><a href="https://www.tokbox.com/pdf/datasheet-advanced_insights-for_web-0318.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
      Advanced Insights (Beta): </font></a></li>
    <li>Mission Critical Support</li>
  </ul>

  If you have any questions about your new plan, please reach out to
  <!-- CTA link -->
   <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
    support@@tokbox.com </font></a>and a member of our team will get back to you soon.
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>
