@(last_invoice_amount: Option[String])
<!-- H1 -->
<div align="center" style="font-family: 'ITC Avant Garde Gothic W04 Md', 'Muli', helvetica, arial; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">We're sorry to see you go!</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: 'Muli', helvetica, arial;">
  We have cancelled your account. @last_invoice_amount.map{ in =>
  You will see one final charge of <b>@in</b> billed to your credit card that is based on the minutes you used this month.
  } 
</div>
<!-- Body Copy with a link -->
<div style=" font-family: 'Muli', helvetica, arial; line-height: 24px; padding-bottom: 35px;">
  Having used the platform your feedback is extremely valuable to us. In order to improve our service, we'd love to hear why OpenTok wasn't right for you. Please take 2 minutes to fill out our 
    <!-- CTA link -->
    <a href="https://docs.google.com/a/tokbox.com/spreadsheet/viewform?formkey=dGhaamVVWHZweUg1ZlpGNVlkNmpmZXc6MQ#gid=0" style=" font-family: 'Muli', helvetica, arial; color: #0099cc; line-height: 24px; text-decoration: none">
        <font color="#0099cc">survey</font>
        <img style="position: relative; top: 2px; padding-left: 10px" src="http://i224.photobucket.com/albums/dd37/AgathaTinuviel/arrow_blue.png" alt="&rarr;" border="0">
    </a>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: 'Muli', helvetica, arial;">Thanks for trying OpenTok,<br><br>The TokBox Team</div>
