@(contact_name: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @contact_name,</p>

  <p>We’re writing to let you know that your new add-on feature, AES-256 Bit Encryption has been enabled.
  </p>

  <p>Here’s how to get started: </p>
  <ul>
    <li> <a href="https://tokbox.com/developer/enterprise/content/advanced-media-stream-encryption/" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
      Documentation</font>
    </a></li>
    <li><a href="https://www.tokbox.com/developer/guides/security/" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
      Security data sheet</font>
    </a></li>
  </ul>

  <p>By default, AES-256 Bit Encryption will be applied to all of your TokBox projects. If you don’t wish to encrypt every project with AES-256, please reach out to <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
    support@@tokbox.com.</font></a></p>

  <p>If you have any questions about this change, please reach out to <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
       support@@tokbox.com </font></a>and a member of our team will get back to you soon.</p>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>
