@(contact_name: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @contact_name,</p>

  <p>We’re writing to let you know that your new add-on feature, China Relay has been enabled.
  </p>

  <p>For information on China Relay, please feel free to review the China Relay data sheet <a href="https://www.tokbox.com/pdf/datasheet-china_relay-1117-aa-v3.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
      here.</font></a></p>

  <p>If you have any questions about this change, please reach out to <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
       support@@tokbox.com </font></a>and a member of our team will get back to you soon.</p>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>
