@(contact_name: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @contact_name,</p>

  <p>Welcome to Mission Critical Support.</p>

  <div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
      This email explains what's included in this service, and how to use it. Here are the main features:
      <ul>
        <li>Escalation when your production application is unavailable because of TokBox service availability</li>
        <li>Faster responses to all inquiries</li>
        <li>Faster resolution to your questions</li>
        <li>30-minute onboarding session</li>
      </ul>
  </div>

  <div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
      <b>Escalation:</b>
      <p>Your organization can now initiate an escalation when your production application becomes unavailable because of a TokBox service interruption.
        For an escalation to be quickly address file a ticket <a href="https://support.tokbox.com/hc/en-us/requests/new" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">here</font></a> and click the "Urgent in-Production Failure" box.
      </p>
  </div>

  <div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
      <b>Getting Answers:</b>
      <p>24x7 someone is here to address your questions or help you troubleshoot.
        We'll endeavor to respond to your inquiry within 2 hours. We strive to resolve questions within 24 hours.
        Here is the <a href="https://support.tokbox.com/hc/en-us/requests/new" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">URL</font></a> to log ticket.
        Click <a href="https://support.tokbox.com/hc/en-us/signin?return_to=https%3A%2F%2Fsupport.tokbox.com%2Fhc%2Fen-us%2Frequests" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">here</font></a> to view open tickets.
      </p>
  </div>

  <div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
      <b>Subscribe to Status Updates:</b>
      <p>Sign up to receive status updates at <a href="status.tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">status.tokbox.com</font>></a>. These are available via email, SMS, or RSS.
      </p>
  </div>

  <div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
      <b>Subscribe to our Release Notification Page:</b>
      <p>You can get notified whenever we make a new release available by following this
          <a href="https://support.tokbox.com/hc/en-us/sections/201722216-New-Releases" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">page</font></a>.
      </p>
  </div>

  <p>If you have any questions about about Mission Critical Support, please reach out to <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
       support@@tokbox.com </font></a>and a member of our team will get back to you soon.</p>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>
