@(contact_name: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @contact_name,</p>

  <p>This email confirms that BAA has been signed.</p>

  <p>For information on HIPAA Compliance &amp; BAA, please feel free to review the Security data sheet <a href="https://www.tokbox.com/pdf/datasheet-security_and_compliance-for_web-0318.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
    here.</font></a></p>

    <p>If you have any questions about this change, please reach out to
  <!-- CTA link -->
   <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
       support@@tokbox.com </font></a>and a member of our team will get back to you soon.</p>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>
