@(target_url: String, project_id: Int)
@import com.opentok.raven.resources._

<!-- H1 -->
<div align="center" style="font-family: @Styles.FONT_HEADING; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Warning: Session Monitoring target disabled</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    Uh oh! It appears we are unable to reach a target you have specified for session event monitoring.
    As a result, Session Monitoring has been suspended for the endpoint configured on project ID @project_id:
    <pre>@target_url</pre>
    Once the issue is fixed, you can re-enable session monitoring events by visiting your project configuration at 
    <a href="https://tokbox.com/account">https://tokbox.com/account</a>.
    
    If the issue persists or you have further questions, please contact us at <a href="mailto:support@@tokbox.com">support@@tokbox.com</a>.
</div>
<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Thanks for choosing OpenTok,<br><br>The TokBox Team</div>

