@(confirmation_url: String)
<tr style="background:white;">
    <td width="60px"></td>
    <td width=640px style="text-align:center; padding: 30px 0;">
        <h1>Welcome to TokBox</h1>
        <p class="light">
    To start your free OpenTok trial, you'll need to obtain your API secret by verifying your account
        </p>
    </td>
    <td width="60px" ></td>
</tr>
<tr>
    <td width="60px"></td>
    <td width=640px style="text-align:center; padding: 30px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
        <center>
            <a href="@confirmation_url"><span class="btn btn-blue">Verify and get your secret</span></a>
        </center>
        <p>
    Or, visit this url:
        </p>

        <center>
            <a href="@confirmation_url">@confirmation_url</a>
        </center>

        <br>
        <br>
        <p>
    Thanks for choosing OpenTok,
        </p>
        <strong style="color:#5F6062;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:28px;">
    The TokBox Team
        </strong>


    </td>
    <td width="60px"></td>
</tr>
