@(account_name: String, account_id: String, user_id: String, user_name: String, user_email: String, message: String, request: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">

  <ul>
    <li>Account name: @account_name</li>
    <li>Account ID: @account_id</li>
    <li>User ID: @user_id</li>
    <li>User name: @user_name</li>
    <li>User email: @user_email</li>
    <li>Message: @message</li>
    <li>Request: @request</li>
  </ul>
</div>
