@(date: String,
  customDate: Option[String],
  name: Option[String],
  device_current: String,
  device_last: String,
  device_change: Int,
  subscribed_current: String,
  subscribed_last: String,
  subscribed_change: Int,
  account_portal_link: com.opentok.raven.model.Email.Url,
  recommended_browser: List[com.opentok.raven.resources.Browser],
  expired_token: List[com.opentok.raven.resources.Project],
  outdated_browser: List[com.opentok.raven.resources.Browser],
  unsupported_sdk_client: List[com.opentok.raven.resources.SDK],
  unsupported_sdk_server: List[com.opentok.raven.resources.SDK],
  learn_how_link: Option[String],
  make_embed_link: Option[String],
  releases_updates: List[String],
  product_updates: List[String],
  company_updates: List[String]
)

<!-- We already have the updates defined in the template at least you inject them -->

@import scala.collection.immutable._

@my_releases_updates = @{
    if(releases_updates.isEmpty) {
        List(
            "To get notified for every release, subscribe to our <a href=\"https://support.tokbox.com/hc/en-us/sections/201722216-New-Releases\">New Releases page</a>.",

            "JS Client SDK Updates:" +
                "<ul>" +
                    "<li><a href=\"https://tokbox.com/developer/sdks/js/release-notes.html#fixedIssues\">2.11.6</a> is now available on Standard line.</li>" +
                    "<li>2.11.5 will be moved to the Enterprise line on July 20th.</li>" +
                    "<li>2.11.6 will be deployed to the Enterprise line the week of August 17th.</li>" +
                "</ul>",

            "V2.8 SDKs will be deprecated September 22nd."
        )
    } else {
        releases_updates
    }
}

@my_product_updates = @{
    if(product_updates.isEmpty) {
        List(
            "Add WebRTC to your app immediately using our production-ready <a href=\"https://tokbox.com/developer/embeds/\">Embeds</a> feature.",

            "We are pleased to announce our support for Apple’s Beta launch of High Sierra and support for WebRTC in Safari. Create a new project in <a href=\"https://tokbox.com/account/#/\">Account Portal</a> to get started. Read about <a href=\"https://tokbox.com/developer/beta/safari\">Safari Beta here</a>."
        )
    } else {
        product_updates
    }
}

@my_company_updates = @{
    if(company_updates.isEmpty) {
        List(
            "Our new VP of Customer Success, Paul Reeves, is meeting with Enterprise customers. If you haven’t spoken to him yet, <a href=\"http://calendly.com/paulr-tokbox\">grab a 15 or 30 minute slot on his calendar</a>."
        )
    } else {
        company_updates
    }
}

<!-- Sections -->

@MAX_UNSUPPORTED_BROWSERS = @{ 5 }

@FONT_FAMILY = @{ "'Proxima Nova', 'Raleway', helvetica, arial" }

@greySectionStyles = @{ "box-sizing: border-box; max-width: 510px; background-color: transparent; padding: 0; margin: 0" }

@blueSectionStyles = @{ "box-sizing: border-box; width: 100%; background-color: #fff; padding: 20px; border: solid 1px #d2dcef; margin: 10px 0 30px 0" }

<!-- Texts -->

@titleStyles = @{ "font-family: " + FONT_FAMILY + "; font-size: 20px; color: #5f6062; font-weight: 600; padding: 0; margin: 0 0 20px 0" }

@subTitleStyles = @{ "font-family: " + FONT_FAMILY + "; font-size: 17px; color: #5f6062; font-weight: 600; padding: 0; margin: 0 0 30px 0" }

@nameStyles = @{ "font-family: " + FONT_FAMILY + "; font-size: 20px; color: #a0a9b8; font-weight: 600; padding: 0; margin: 0 0 30px 0" }

@headerStyles = @{ "font-family: " + FONT_FAMILY + "; font-size: 34px; color: #5f6062; font-weight: 300; border-width: 0; border-color: #0099cc; border-style: solid; border-left-width: 1px; padding: 0 0 0 18px; margin: 0 0 20px 0; display: block" }

@paragraphStyles = @{ "font-family: " + FONT_FAMILY + "; font-size: 16px; color: #5f6062; margin: 0; padding: 0" }

@bold = @{ "font-weight: 600" }

<!-- White cards -->

@titleCardStyles = @{ "font-family: " + FONT_FAMILY + "; font-size: 34px; color: #5f6062; font-weight: 300; display: block; padding: 0; margin: 0 0 5px 0" }

@paragraphCardStyles = @{ "padding: 0; margin: 0" }

@cardStyles = @{ "text-align: center; box-sizing: border-box; display: inline-block; width: 164px; background-color: #fff; border: solid 1px #d2dcef; padding: 25px 0px; margin: 0; border-radius: 5px; overflow: hidden; word-wrap: break-word; white-space: normal; vertical-align: top" }

@cardContainerStyles = @{ "font-size: 0" }

@iconCardStyles = @{ "display: inline-block; margin: 0 0 5px 0; padding: 0; border: 0; width: 60px; height: 60px" }

<!-- Links -->

@linkStyles = @{ "font-family: " + FONT_FAMILY + "; font-size: 16px; color: #0099cc; text-decoration: none" }

@linkImgStyles = @{ "position: relative; top: 2px; padding-left: 8px" }

@linkImgSrc = @{ "https://assets.tokbox.com/email/arrow_blue.png" }

<!-- Separator -->

@separatorStyles = @{ "box-sizing: border-box; display: block; width: 100%; height: 1px; background-color: #d2dcef; margin: 30px 0 20px 0" }

@containerWithRightSeparator = @{ "box-sizing: border-box; width: 40%; padding: 0 20px 0 0; margin: 0 0 20px 0; border-width: 0; border-color: #d2dcef; border-style: solid; border-right-width: 1px; display: inline-block; overflow: hidden; word-wrap: break-word; white-space: normal" }

@paragraphRightFloatingStyles = @{ paragraphStyles +  "; box-sizing: border-box; width: 60%; display: inline-block; padding-left: 20px; padding-top: 2px; vertical-align: top; overflow: hidden; word-wrap: break-word; white-space: normal" }

<!-- Lists -->

@listStyles = @{ "box-sizing: border-box; display: inline-block; width: auto; margin-top: 8px" }
@titleListStyles = @{ "font-size: 17px; margin-bottom: 5px" }

@listItemStyles = @{ "padding: 5px 0; font-family: " + FONT_FAMILY + "; font-size: 16px; color: #5f6062; display: block" }

@updateItemStyle = @{ "margin: 8px 0" }

@unsupportedSdkWithoutClient = @{ "margin-top: 0px" }

@unsupportedSdkWithClient = @{ "margin-top: 10px" }

<div align="center" style="width: 100%">

    <div align="left" style="@greySectionStyles; padding-top: 0">

        <h1 style="@titleStyles; margin-bottom: 10px">TokBox Usage and Recommendations</h1>

        <h2 style="@subTitleStyles">@customDate.getOrElse(date)</h2>

        @name.map{value =>
            @if(!value.isEmpty) {
                <h1 style="@nameStyles">@value.trim,</h1>
            }
        }

        <h1 style="@headerStyles; margin-top: 40px">Usage</h1>

        <h1 style="@titleStyles; margin-top: 30px">Subscribed Minutes</h1>

        <div style="@cardContainerStyles; margin: 10px 0 20px 0">
            <span style="@cardStyles">
                <span style="@titleCardStyles">@subscribed_current</span>
                <p style="@paragraphStyles; @paragraphCardStyles">This month</p>
            </span>
            <span style="@cardStyles; margin: 0 9px">
                <span style="@titleCardStyles">@subscribed_last</span>
                <p style="@paragraphStyles; @paragraphCardStyles">Last month</p>
            </span>
            <span style="@cardStyles">
                <span style="@titleCardStyles">@subscribed_change%</span>
                <p style="@paragraphStyles; @paragraphCardStyles">Percentage change</p>
            </span>
        </div>

        <p style="@paragraphStyles">To monitor your usage, visit your <a style="@linkStyles" href="@account_portal_link">Account Portal <img style="@linkImgStyles" src="@linkImgSrc" alt="&rarr;" border="0"/></a></p>

        <h1 style="@titleStyles; margin-top: 30px">Devices</h1>

        <div style="@cardContainerStyles; margin: 10px 0 20px 0">
            <span style="@cardStyles">
                <span style="@titleCardStyles">@device_current</span>
                <p style="@paragraphStyles; @paragraphCardStyles">This month</p>
            </span>
            <span style="@cardStyles; margin: 0 9px">
                <span style="@titleCardStyles">@device_last</span>
                <p style="@paragraphStyles; @paragraphCardStyles">Last month</p>
            </span>
            <span style="@cardStyles">
                <span style="@titleCardStyles">@device_change%</span>
                <p style="@paragraphStyles; @paragraphCardStyles">Percentage change</p>
            </span>
        </div>

        <div style="@separatorStyles"></div>

        <h1 style="@headerStyles; margin-top: 40px">Recommendations</h1>

        <p style="@paragraphStyles">We recommend you plan your upgrades to be sure you are using currently supported SDKs and recommended browsers.</p>

        <h1 style="@titleStyles; margin-top: 30px">Recommended Browsers</h1>

        <div style="@cardContainerStyles; margin: 10px 0 30px 0">
            @recommended_browser.zipWithIndex.map{ case(browser, index) =>
              @if(index % 2 != 0) {
                  <span style="@cardStyles; margin: 0 9px; word-wrap: normal">
              } else {
                  <span style="@cardStyles; word-wrap: normal">
              }
                <img style="@iconCardStyles" src="@browser.icon" border="0"/>
                <span style="@titleCardStyles; overflow:hidden; text-overflow: ellipsis">@browser.name</span>
                <p style="@paragraphStyles; @paragraphCardStyles">@browser.versions(0)</p>
            </span>
            }
        </div>

        @if(!expired_token.isEmpty) {
            <div style="width: 100%; font-size: 0">
                <div style="@containerWithRightSeparator">
                    <h1 style="@titleStyles; @titleListStyles">Expired Tokens</h1>
                    <div style="@listStyles">
                        @for(expired <- expired_token) {
                        <span style="@listItemStyles">Project @expired.name: @expired.expiredTokens</span>
                        }
                    </div>
                </div>
                <div style="@paragraphRightFloatingStyles">
                    You are using expired tokens. Users cannot join sessions with expired tokens.
                </div>
            </div>
        }

        @if(!unsupported_sdk_client.isEmpty || !unsupported_sdk_server.isEmpty) {
            <div style="width: 100%; font-size: 0">
                <div style="@containerWithRightSeparator">
                    <h1 style="@titleStyles; @titleListStyles">Unsupported SDKs</h1>
                    <div style="@listStyles">
                    @if(!unsupported_sdk_client.isEmpty) {
                        <span style="@listItemStyles; @bold">Client</span>
                            @for(unsupported <- unsupported_sdk_client) {
                                <span style="@listItemStyles">@unsupported.name: @unsupported.versions(0)@for(i <- 1 until unsupported.versions.size){, @unsupported.versions(i)}</span>
                            }
                    }
                    @if(!unsupported_sdk_server.isEmpty) {
                        @if(unsupported_sdk_client.isEmpty) {
                            <span style="@listItemStyles; @bold; @unsupportedSdkWithoutClient">Server</span>
                        } else {
                            <span style="@listItemStyles; @bold; @unsupportedSdkWithClient">Server</span>
                        }
                        @for(unsupported <- unsupported_sdk_server) {
                            <span style="@listItemStyles">@unsupported.name: @unsupported.versions(0)@for(i <- 1 until unsupported.versions.size){, @unsupported.versions(i)}</span>
                        }
                    }
                    </div>
                </div>
                <div style="@paragraphRightFloatingStyles">
                    You are currently using SDKs that are no longer supported. Please update your clients.
                </div>
            </div>
        }

        @if(!outdated_browser.isEmpty) {
            @if(outdated_browser.filter(_.versions.size > MAX_UNSUPPORTED_BROWSERS).size > 0) {
                <h1 style="@titleStyles; @titleListStyles">Outdated Browsers</h1>
                <p style="@paragraphStyles; margin: 0 0 20px 0;">Your users are using browsers that are not recommended. Your app may not work or work well for these users. Consider asking your users to upgrade.</p>
            } else {
                <div style="@containerWithRightSeparator; width: auto;">
                    <h1 style="@titleStyles; @titleListStyles">Outdated Browsers</h1>
                    <div style="@listStyles">
                        @for(outdate <- outdated_browser) {
                            <span style="@listItemStyles">@outdate.name: @outdate.versions(0)@for(i <- 1 until outdate.versions.size){, @outdate.versions(i)}</span>
                        }
                    </div>
                </div>
            }
        }

        <div align="center" style="@blueSectionStyles">
            <table style="border: 0; width: 100%">
                <tr>
                    <td style="padding: 0 20px 0 10px">
                        <img width="60" height="60" src="https://cdn2.iconfinder.com/data/icons/thin-line-icons-for-seo-and-development-1/64/SEO_cogwheels_setting-128.png" border="0"/>
                    </td>
                    <td style="padding: 0">
                        <p style="@paragraphStyles; margin-bottom: 5px">Learn how customers are rapidly building production-ready apps using our plug and play embeds. <a style="@linkStyles" href="@make_embed_link.getOrElse("https://tokbox.com/account/#/")">Click here to make an embed</a>. <a style="@linkStyles" href="@learn_how_link.getOrElse("https://tokbox.com/blog/video-chat-embed-copy-and-paste-your-poc/")">Or read about embeds in our blog</a>.</p>
                    </td>
                </tr>
            </table>
        </div>

        @if(!releases_updates.isEmpty || !product_updates.isEmpty || !company_updates.isEmpty) {
            <h1 style="@titleStyles">TokBox Updates</h1>
        }

        @if(!my_releases_updates.isEmpty) {
        <p style="@paragraphStyles; font-weight: 600; margin-top: 30px">Releases Updates</p>
        <ul style="@paragraphStyles; padding-left: 30px; box-sizing: border-box; width: 100%;">
            @for(update <- my_releases_updates) {
                <li style="@updateItemStyle">@Html(update.replace("<a ", "<a style=\"" + linkStyles + "\" "))</li>
            }
        </ul>
        }

        @if(!my_product_updates.isEmpty) {
        <p style="@paragraphStyles; font-weight: 600; margin-top: 30px">Product Updates</p>
        <ul style="@paragraphStyles; padding-left: 30px; box-sizing: border-box; width: 100%">
            @for(update <- my_product_updates) {
                <li style="@updateItemStyle">@Html(update.replace("<a ", "<a style=\"" + linkStyles + "\" "))</li>
            }
        </ul>
        }

        @if(!my_company_updates.isEmpty) {
        <p style="@paragraphStyles; font-weight: 600; margin-top: 30px">Company Updates</p>
        <ul style="@paragraphStyles; padding-left: 30px; box-sizing: border-box; width: 100%">
            @for(update <- my_company_updates) {
                <li style="@updateItemStyle">@Html(update.replace("<a ", "<a style=\"" + linkStyles + "\" "))</li>
            }
        </ul>
        }

        <div style="@separatorStyles; margin-top: 30px;"></div>

        <p style="@paragraphStyles; text-align: center; width: 100%; font-size: 14px; margin: 40px 0 20px 0; padding: 0">You are receiving this email because you are a TokBox customer and have elected to be updated about your monthly usage, and other important data and insights.</p>

        <p style="@paragraphStyles; text-align: center; width: 100%; font-size: 14px; margin: 0 0 10px 0; padding: 0">To unsubscribe from this monthly update, <a href="[unsubscribe]">click here</a>.</p>

    </div>

</div>
