@(message: String, component: String, stack_trace: Option[String])
@import com.opentok.raven.resources._

<!-- H1 -->
<div align="center" style="font-family: @Styles.FONT_HEADING; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">
    Bummer! There was an error in @component
</div>
<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;"><b>@message</b></div>
@stack_trace.map {  s =>
    <div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">@s</div>
}
