@(title: String, datafield: String, datafield_1: Option[String], datafield_2: Option[String], datafield_3: Option[String], harvester_image_link: String, harvester_analysis_image_link: Option[String], harvester_email: String , harvester_email_1: Option[String], harvester_email_2: Option[String], harvester_email_3: Option[String], harvester_message: String, harvester_message_1: Option[String], harvester_message_2: Option[String] )
<!-- H1 -->
<div align="center" style="font-family: 'ITC Avant Garde Gothic W04 Md', 'Muli', helvetica, arial; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">@title</div>

<!-- Body Copy -->
<div align="center" style="line-height: 24px; padding-bottom: 35px; font-family: 'Muli', helvetica, arial;">
<a href="@datafield"><img src="@harvester_image_link"></a>
     <br><br>
</div>
@harvester_analysis_image_link.map{hail =>
<div align="center" style="line-height: 24px; padding-bottom: 35px; font-family: 'Muli', helvetica, arial;">
<a href="@datafield"><img style="max-width: 600px" src="@hail"></a>
     <br><br>
	}
</div>
<div align="center" style="line-height: 24px; padding-bottom: 35px; font-family: 'Muli', helvetica, arial;">
<p>
@harvester_message
</p>
@harvester_message_1.map{hm1 => 
     <p>
	@hm1
	</p>
	}
@harvester_message_2.map{hm2 => 
     <p>
	@hm2
	</p>
	}
<a href="@datafield">@harvester_email</a>
@datafield_1.map{df1 => 
     <p>
	<a href="@df1">@harvester_email_1</a>
	</p>
	}
@datafield_1.map{df2 => 
     <p>
	<a href="@df2">@harvester_email_2</a>
	</p>
	}
@datafield_1.map{df3 => 
     <p>
	<a href="@df3">@harvester_email_3</a>
	</p>
	}
</div>

<!-- CTA Button with subtitle -->
<div align="center" style="padding-bottom: 35px;"><a href="@datafield">
    <button style="height:40px; background-color:  #0099cc; border: none; font-family: 'Muli' helvetica, arial; font-size: 16px; color: #ffffff; padding: 0px 25px; margin-bottom:12px; border-radius: 3px;">
        <span class="blank" style="text-decoration:none !important;">
           Harvest this account.
        </span>
        <img style="position: relative; top: 2px; padding-left: 20px" src="https://assets.tokbox.com/email/arrow_white.png" alt="&rarr;" border="0">
    </button></a>

</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: 'Muli', helvetica, arial;">Thanks for contributing,<br><br>The TokBox Business Analytics Team</div>
