@(datafield: String, harvester_message: String)
<!-- H1 -->
<div align="center" style="font-family: 'ITC Avant Garde Gothic W04 Md', 'Muli', helvetica, arial; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">New Harvester Emails</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: 'Muli', helvetica, arial;">
@harvester_message
     <br><br>
</div>

<!-- CTA Button with subtitle -->
<div align="center" style="padding-bottom: 35px;"><a href="@datafield">
    <button style="height:40px; background-color:  #0099cc; border: none; font-family: 'Muli' helvetica, arial; font-size: 16px; color: #ffffff; padding: 0px 25px; margin-bottom:12px; border-radius: 3px;">
        <span class="blank" style="text-decoration:none !important;">
           Harvest an account
        </span>
        <img style="position: relative; top: 2px; padding-left: 20px" src="https://assets.tokbox.com/email/arrow_white.png" alt="&rarr;" border="0">
    </button></a>

</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: 'Muli', helvetica, arial;">Thanks for contributing,<br><br>The TokBox Business Analytics Team</div>
