<!-- H1 -->
@import com.opentok.raven.resources._
<div align="center" style="font-family: @Styles.FONT_HEADING; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Password Changed</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    This is a notification that your password has been reset. If this was not done by you, please contact
    <a href="mailto:support@@tokbox.com">support@@tokbox.com</a>.
</div>
<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Thanks for choosing OpenTok,<br><br>The TokBox Team</div>

