<!-- H1 -->
<div align="center" style="font-family: 'ITC Avant Garde Gothic W04 Md', 'Muli', helvetica, arial; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Password Changed</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: 'Muli', helvetica, arial;">
    This is a notification that your password has been reset. If this was not done by you, please contact
    <a href="mailto:support@@tokbox.com">support@@tokbox.com</a>.
</div>
<!-- Thank You -->
<div style="line-height: 24px; font-family: 'Muli', helvetica, arial;">Thanks for choosing OpenTok,<br><br>The TokBox Team</div>

