@(attempt: Int, contact_name: String)

@import com.opentok.raven.resources._

<!-- prettify next attempt dt -->
@defining(new org.joda.time.DateTime(next_unix_ms, org.joda.time.DateTimeZone.UTC).toString("YYYY-MM-dd HH:mm:ss ZZZ")){ next_attempt_on =>
  <!-- H1 -->
    <div align="center" style="font-family: @Styles.FONT_HEADING; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Payment Failed - @overdue_time Day Notice</div>
    <!-- Body Copy -->
    <div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    Hi @contact_name,
    <br/><br/>We’re writing to let you know that your recent credit card payment attempt has failed.
    <br/><br/>Please login to your <a href="https://tokbox.com/account/#/billing" target="_top">account portal</a> to update your payment information.
    @pay_us_warning = @{
      if (attempt == 1) {
        "You’ll receive <b>two additional notices</b> if you haven’t updated your credit card within the next 4 days, and after the third notice, we will turn off your service."
      } else if (attempt == 2) {
        "You’ll receive <b>one additional notice</b> if you haven’t updated your credit card within the next 4 days, and by the next notice, we will turn off your service."
      } else {
        "We have made 3 attempts to contact you and attempt payment from the card details you supplied. Your current service is suspended until your credit card details are updated and your arrears payment is made."
      }
    }
    <br/><br/>
  </div>
  <!-- Thank You -->
  <div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Thanks for choosing OpenTok,<br><br>The TokBox Team</div>
}
