@(amount: Float, currency: String)
@import com.opentok.raven.resources._
<!-- H1 -->
<div align="center" style="font-family: @Styles.FONT_HEADING; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Payment Successful</div>
<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    Your payment of <b>@currency @amount.formatted("%.2f")</b> has been processed successfully!
</div>
<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Thanks for choosing OpenTok,<br><br>The TokBox Team</div>
