<!-- H1 -->
<div align="center" style="font-family: 'ITC Avant Garde Gothic W04 Md', 'Muli', helvetica, arial; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Payment Details Added</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: 'Muli', helvetica, arial;">
    Thanks for entering your payment information. When your trial finishes, your service will continue uninterrupted.
    <br><br>To manage or cancel your subscription, please login to your Dashboard account.
</div>

<!-- Body Copy with a link -->
<div style=" font-family: 'Muli', helvetica, arial; line-height: 24px; padding-bottom: 35px;">

    If you have any questions, please email us at
    <!-- CTA link -->
    <a href="mailto:bizdev@@tokbox.com" style=" font-family: 'Muli', helvetica, arial; color: #0099cc; line-height: 24px; text-decoration: none">
        <font color="#0099cc">bizdev@@tokbox.com</font>
        <img style="position: relative; top: 2px; padding-left: 10px" src="http://i224.photobucket.com/albums/dd37/AgathaTinuviel/arrow_blue.png" alt="&rarr;" border="0">
    </a>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: 'Muli', helvetica, arial;">Thanks for using OpenTok,<br><br>The TokBox Team</div>
