@(reset_password_link: com.opentok.raven.model.Email.Url)
@import com.opentok.raven.resources._

<!-- Body Copy with a link -->
<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
    <p>Hi there,</p>
    We’ve received your request to create a new OpenTok account but there is already an account registered to this email address.  If you are trying to recover access to an existing account, you can
        <!-- CTA link -->
    <a href="@reset_password_link" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
        reset your password here.</font><img style="position: relative; top: 2px; padding-left: 10px" src="https://assets.tokbox.com/email/arrow_blue.png" alt="&rarr;" border="0">
    </a>

    <p>
        If you did not attempt to register again, don’t worry - your account has not been accessed by anyone else.  You can continue to use your account as normal.
    </p>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Thanks for choosing OpenTok,<br><br>The TokBox Team</div>
