@(user_firstName: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @user_firstName,</p>

  <p>We received your request to downgrade your Enterprise account.</p>

  <p>A member of our team will be reaching out soon regarding next steps.</p>

  <p>If you have any questions about this change, please reach out to <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
       support@@tokbox.com.</font></a> and a member of our team will get back to you soon.</p>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>

