@(user_firstName: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @user_firstName,</p>

  <p>We’ve received your request to upgrade to the Enterprise plan. A member of our team will be reaching out soon to learn more about your needs
    and provide more information on our Enterprise package.</p>

  <p>As a reminder, here’s what’s included in the Enterprise plan:</p>
  <ul>
    <li>AES-256 Bit Encryption</li>
    <li>HIPPA Compliance &amp; BAA</li>
    <li>Configurable TURN</li>
    <li>China Relay</li>
    <li>IP Whitelisting</li>
    <li>Success Services</li>
  </ul>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>
