@(user_firstName: String, addon_name: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @user_firstName,</p>

  <p>We’ve received your request for removing @addon_name.</p>

  <p>What happens next?</p>

  <p>A member of our team will be reaching out to you soon regarding next steps. You’ll then receive an email confirmation from us once the add-on has been removed. </p>

  <p>If you have any questions about this change, please reach out to <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
       support@@tokbox.com.</font></a> and a member of our team will get back to you soon. </p>


<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>

