@(reset_password_link: String)
<tr style="background:white ;">
    <td width="60px"></td>
    <td width=640px style="text-align:center ; padding: 30px 0 ;">
        <h1>Reset your password</h1>
        <p class="light">
            There has been a request to reset your OpenTok account password
        </p>
    </td>
    <td width="60px" ></td>
</tr>

<tr>
    <td width="60px"></td>
    <td width=640px style="text-align:center ; padding: 30px 0 ;">
        <center>
            <a href="@reset_password_link"><span class="btn btn-blue">Reset my OpenTok password</span></a>
        </center>
        <p>
            Or, visit this url:
        </p>
        <center>
            <a href="@reset_password_link">@reset_password_link</a>
        </center>
        <br>
        <br>
        <p style="text-align:left ; padding: 0 40px ;">
            If you did not prompt this request, please ignore this email.
        </p>
        <p style="text-align:left ; padding: 0 40px ;">
            Your password will not change until you access the link to create a new one.
        </p>
        <p style="text-align:left ; padding: 0 40px ;">
            Thanks,
        </p>

        <p style="font-weight: bold ; padding: 0 40px ; text-align:left ;">
            The TokBok Team
        </p>

    </td>
    <td width="60px"></td>
</tr>
