@(user_firstName: String)
@import com.opentok.raven.resources._

<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">
  <p>Hi @user_firstName,</p>

  <p>Welcome to the Growth Plan! This confirms that you’re now able to access all available features on the Growth package.</p>

  <p>As part of the Growth Plan, you’ll be able to continue using the following features</p>
  <ul>
    <li><a href="https://tokbox.com/pdf/datasheet-security_and_compliance-for_web-0318.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
      Encrypted Archiving: </font></a>
      <ul>
        <li><a href="https://tokbox.com/developer/enterprise/content/encrypted-archiving.html" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
          Access API documentation</font></a></li>
      </ul></li>
      <li><a href="https://www.tokbox.com/pdf/datasheet-security_and_compliance-for_web-0318.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
          Regional Media Zones: </font></a>
      <ul>
        <li>Contact support with additional information regarding which regions you need media restricted to.</li>
      </ul></li>
      <li><a href="https://www.tokbox.com/pdf/datasheet-advanced_insights-for_web-0318.pdf" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
          Advanced Insights (Beta): </font></a>
      <ul>
        <li>Login to your <a href="http://tokbox.com/account" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
            Account Dashboard </font></a>to view Dashboard Insights.</li>
        <li><a href="https://tokbox.com/developer/guides/insights-api" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
            Access API documentation</font></a></li>
      </ul></li>
    <li>Mission Critical Support:
      <ul>
        <li>Automatically enabled</li>
        <li>Faster response times to all inquiries; faster resolution for questions</li>
        <li>24 X 7 Escalation service when your production application is affected by a TokBox service interruption</li>
      </ul></li>
  </ul>

  <p>Login to your <a href="http://tokbox.com/account" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
    Account Dashboard </font></a>to find more details about your new plan.</p><br>

  If you have any questions, please reach out to
  <!-- CTA link -->
   <a href="mailto:support@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
       support@@tokbox.com </font></a>and a member of our team will get back to you soon.
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Best,<br><br>The TokBox Team</div>
