<!-- H2 -->
<div style="font-family:'ITC Avant Garde Gothic W04 Md', 'Muli', helvetica, arial; font-size:16px; line-height:24px; color:"#38393b;">Thank you for signing up for premium support!</div>
<!-- Body Copy with a link -->
<div style=" font-family: 'Muli', helvetica, arial; line-height: 24px; padding-bottom: 35px;">
  <br>
Please contact us if you have any issues while building your app at
   <!-- CTA link -->
    <a href="mailto:premiumsupport@@tokbox.com" style=" font-family: 'Muli', helvetica, arial; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
        premiumsupport@@tokbox.com.</font><img style="position: relative; top: 2px; padding-left: 10px" src="http://i224.photobucket.com/albums/dd37/AgathaTinuviel/arrow_blue.png" alt="&rarr;" border="0">
    </a>
    <br>
    <br>For any pricing or business-related questions, please refer to our 
    <a href="http://tokbox.com/opentok/support/faq" style=" font-family: 'Muli', helvetica, arial; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
        FAQ</font><img style="position: relative; top: 2px; padding-left: 10px" src="http://i224.photobucket.com/albums/dd37/AgathaTinuviel/arrow_blue.png" alt="&rarr;" border="0">
    </a>or e-mail us at
<a href="mailto:bizdev@@tokbox.com" style=" font-family: 'Muli', helvetica, arial; color: #0099cc; line-height: 24px; text-decoration: none"><font color="#0099cc">
        bizdev@@tokbox.com</font><img style="position: relative; top: 2px; padding-left: 10px" src="http://i224.photobucket.com/albums/dd37/AgathaTinuviel/arrow_blue.png" alt="&rarr;" border="0">
    </a>
</div>
<!-- Thank You -->
<div style="line-height: 24px; font-family: 'Muli', helvetica, arial;">Thanks for choosing OpenTok,<br><br>The TokBox Team</div>
