@(tool_name: Option[String], component: Option[String], rating: Option[String], feedback_body: Option[String] )
@import com.opentok.raven.resources._
<!-- H1 -->
<div align="center" style="font-family: @Styles.FONT_HEADING; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Tools Feedback Received</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    Tool Name: @tool_name<br>
</div>

<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    Component: @component<br>
</div>

<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    Rating: @rating<br>
</div>

<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
    Feedback: @feedback_body<br>
</div>
