@(login_url: com.opentok.raven.model.Email.Url)
@import com.opentok.raven.resources._
<!-- H1 -->
<div align="center" style="font-family: @Styles.FONT_HEADING; font-size: 20px; color: #5f5f61; padding-bottom: 35px;">Imminent Account Suspension</div>

<!-- Body Copy -->
<div style="line-height: 24px; padding-bottom: 35px; font-family: @Styles.FONT_TEXT;">
To whom it may concern,
<br><br>
By creating and using your TokBox account, you agreed to the TokBox Terms of Service (TOS). It has come to our attention that you have created and used multiple trial accounts, which are restricted under our TOS to be used for evaluation and demonstration purposes only. It is apparent that your application has been using those trial accounts for production purposes in violation of this agreement. 
<br><br>
With this email, TokBox is notifying you of this violation of our TOS. We request that you take immediate corrective action by (a) entering a valid credit card through your account dashboard to create a paid production account, (b) contacting us to arrange invoice billing, or (c) closing and ceasing all use of your trial accounts. 
<br><br>
Failure to take corrective action within 24 hours of this notice will result in the termination of your accounts and the denial of additional trial accounts for your application.
<br><br>
</div>

<!-- CTA Button with subtitle -->
<div align="center" style="padding-bottom: 35px;"><a href="@login_url">
    <button style="height:40px; background-color:  #0099cc; border: none; font-family: @Styles.FONT_TEXT; font-size: 16px; color: #ffffff; padding: 0px 25px; margin-bottom:12px; border-radius: 3px;">
        <span class="blank" style="text-decoration:none !important;">
           Enter a credit card
        </span>
        <img style="position: relative; top: 2px; padding-left: 20px" src="https://assets.tokbox.com/email/arrow_white.png" alt="&rarr;" border="0">
    </button></a>

</div>

<!-- Body Copy with a link -->
<div style=" font-family: @Styles.FONT_TEXT; line-height: 24px; padding-bottom: 35px;">

    If you have any questions, please email us at
    <!-- CTA link -->
    <a href="mailto:billing@@tokbox.com" style=" font-family: @Styles.FONT_TEXT; color: #0099cc; line-height: 24px; text-decoration: none">
        <font color="#0099cc">billing@@tokbox.com</font>
        <img style="position: relative; top: 2px; padding-left: 10px" src="https://assets.tokbox.com/email/arrow_blue.png" alt="&rarr;" border="0">
    </a>
</div>

<!-- Thank You -->
<div style="line-height: 24px; font-family: @Styles.FONT_TEXT;">Thank you,<br><br>The TokBox Team</div>
